.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 5px;
}

@media print {

    /* TODO: fix print issues, no items displaying */
    :not(.Pattern),
    :not(.App),
    :not(header) {
        visibility: hidden;
        color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
}