:root {
    --headings: 'Raleway', sans-serif;
    --text: 'Montserrat', sans-serif;
}

body {
    font-family: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headings);
    line-height: 1;
}